.wrapper{
  width: 500px;
  border: 1px solid #e6e6e6;
  margin: 50px 0 0 100px;
  padding: 20px;
}
ul{
  list-style: none;
  padding: 0;
  width:180px;
}
ul li{
  display: flex;
  align-items: center;
  height: 100px;
  line-height: 38px;
  border-bottom: 1px solid #ccc;
  font-size: 30px;
  white-space: nowrap;
  overflow: hidden;
}
ul li.act{
  color: #0db4fb;
}
