<div class="h-100 d-flex flex-column">
  <header class="d-flex flex-row bg-info" style="border-bottom: 1px solid #818991;">
    <div class="w-240 text-center" style="border-right: 1px solid #189cb3">
      <img src="../../assets/img/sidebar-logo.png" alt="">
    </div>
    <div class="px-4 d-flex align-items-center">
      <i (click)="toggle(aside.offsetWidth === 0)" class="fa fa-bars bar"></i>
    </div>
    <div class="col">jkjk</div>
  </header>
  <section class="col d-flex flex-row p-0">
    <aside #aside class="aside-navbar bg-secondary">
      <ul class="nav flex-column">
        <li class="nav-item">
          <a href="javascript:" class="nav-link" [routerLink]="['/robot']" routerLinkActive="active">
            <i class="fa fa-home"></i>
            微信机器人
          </a>
        </li>
        <li class="nav-item">
          <a href="javascript:" class="nav-link" [routerLink]="['/group']" routerLinkActive="active">
            <i class="fa fa-group"></i>
            微信群
          </a>
        </li>
        <li class="nav-item">
          <a href="javascript:" class="nav-link" [routerLink]="['/friends']" routerLinkActive="active">
            <i class="fa fa-user"></i>
            微信好友
          </a>
        </li>
        <li class="nav-item">
          <a href="javascript:" class="nav-link" [routerLink]="['/customResponse']" routerLinkActive="active">
            <i class="fa fa-comment"></i>
            自定义回复
          </a>
        </li>
      </ul>
    </aside>
    <div class="col d-flex flex-column p-0">
      <div class="col border-top-0">
        <router-outlet></router-outlet>
      </div>
      <footer>
        &copy;版权所有，盗版必究
      </footer>
    </div>
  </section>
</div>
