header {
  height: 60px;
  line-height: 60px;
}
.bar{
  height: 60px;
  line-height: 60px;
  padding: 0 1rem;
}

.w-240 {
  width: 240px;
}

.aside-navbar .nav a {
  color: #f8f8f8;
  padding-top: 12px;
  padding-bottom: 12px;
}

.aside-navbar .nav a:hover, .aside-navbar .nav a.active {
  background-color: #616a6b;
  color: #09BB07;
}

.aside-navbar .nav a i {
  width: 20px;
  margin-right: .25rem;
}

footer {
  height: 35px;
  line-height: 35px;
  padding: 0 1rem;
  border-top: 1px solid #e6e6e6;
  background-color: #fdfdfd;
  font-size: .85rem;
}

